
.client-table-wrapper{
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    scrollbar-gutter: stable;
    width:auto;
    margin-left: var(--table-margins);
    margin-right: var(--table-margins);
}
.client-table{
    border-color: #ccc;
}
/* First header row: top row */
.table thead tr:first-child th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3; /* higher z-index to overlap the next row */
    border-bottom: 2px solid #dee2e6;
  }
  
  /* Second header row: will stick below the first row */
  .table thead tr:nth-child(2) th {
    position: sticky;
    top: 40px; /* adjust based on the actual height of your first row */
    background-color: #fff;
    z-index: 2;
    border-bottom: 2px solid #dee2e6;
  }
.client-table th.deletion-offset-header{
    text-align: center;
}