.client-table-wrapper {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  scrollbar-gutter: stable;
  width: auto;
  margin-left: var(--table-margins);
  margin-right: var(--table-margins);
  padding-left: 1px;
}

.client-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.client-table thead th {
  position: sticky;
  top: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 10;
}
.client-table th.deletion-offset-header {
  text-align: center;
}