<nav class="navbar navbar-dark bg-dark navbar-expand" style="height: 50px">
    <button type="button" class="btn" (click)="navigateToMainPage()"><img src="logo.png" width="225px"/></button>
    <div id="navbarLinks" class="navbar-collapse">
        <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item">
                <a class="nav-link">unarchive queue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">report</a>
            </li>
        </ul>
    </div>
</nav>